* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    padding: 55px 75px 40px 75px;
}

.img-header {
    max-width: 210px;
    margin-bottom: 85px;
    margin-left: -2px;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    margin-bottom: 25px;
}

.content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
    margin-top: 40px;
    margin-bottom: 25px;
}

.content p {
    font-size: 18.5px;
    color: white;
    margin-bottom: 25px;
    opacity: .8;
}

.content button {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 15px 65px;
    border-radius: 28px;
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.content button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}

footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 15px;
    color: white;
}

footer i {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

footer i:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media (max-width: 992px) {
    main {
        grid-template-columns: auto;
        text-align: center;
        margin-bottom: 120px;

    }

    main img {
        max-width: calc(100vw - 154px);
    }

    .content p {
        margin-bottom: 50px;
    }

    .content button {
        padding: 15px 100px;
    }

    footer {
        justify-content: center;
    }
}

@media (max-width: 590px) {
    .content h2 {
        font-size: 30px;
    }

    .content p {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    body {
        background-image: url(./images/bg-mobile.svg);
        background-repeat: no-repeat;
        padding: 55px 65px 40px 45px
    }

}